body {
  background: #efefef;
}

.sidebar {
  margin: 5em;
  max-width: 18em;
}

.content-snippets {
  padding: 2rem;
  background: white;

  line-height: 1;

  list-style: none;

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  li {
    border-top: 2px dotted rgb(black, 0.2);
    padding: 1em 0;
  }

  article {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 100px 1fr;
  }

  h3 {
    text-transform: uppercase;
    font-family: sans-serif;
  }

  img {
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

.title-with-border {
  --left-offset: 1.5em;
  position: relative;
  width: max-content; // let it grow with the content grow, the line is longer because the content also got padding left | right
  border-top: 1px solid hsl(var(--clr-accent-400));
  padding: 0.5em var(--left-offset);

  transform: translateX(calc(-1 * (var(--left-offset))));
}

.title-with-border::before,
.title-with-border::after {
  content: '';
  position: absolute;
  background-color: currentColor;
}

.title-with-border::before {
  right: 0;
  top: 0;
  bottom: 50%;
  width: 1px;
}
